{% extends 'entries/base.html' %}
{% load static %}
{% block content %}
    <style>
        label {
            display: inline-block;
            margin-bottom: .5rem;
            margin-right: 2%;
            width: 100%;
            color: #b65be4;
            font-size: 20px;
            font-weight: 400;
        }

        input {
            width: 50%;
        }

        .save-button {
            margin-top: 3%;
            float: right;
        }

    </style>

    <div class="col-md-8 change-password-form">
        <div class="card mb-4">
            <div class="card-header">
                Change Your Password
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {#                    form structure of the django. defined attributes in model class are created in this form and action processed#}
                    {{ form.as_p }}
                    <button class="btn btn-primary save-button" type="submit">Save changes</button>
                </form>

            </div>

        </div>

    </div>
    <style>
        #cart-icon, #cart-total {
            display: none;
        }
    </style>

{% endblock content %}