{% block title %}{% endblock %}

{% block content %}

    {% if validlink %}
{#        if user clicks on forgot password button, then a message is sent to the user by the console and there is a link for changing passowrd. If user is clicked that link and changes the password, then validLink becomes true#}
{#        this is the change passowrd system of the django, authentication system has this function. validLink comes from this system#}
        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {#                    form structure of the django. defined attributes in model class are created in this form and action processed#}
            <input type="submit" value="Change my password">
        </form>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}
{% endblock %}
