{#<!-- templates/registration/password_reset_confirm.html -->#}
{#{% extends 'entries/base.html' %}#}

{% block title %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}

{#<h2>Reset Password</h2>#}
{#<h3>Enter your new password</h3>#}
{#<form class="form" action="" method="POST" enctype="multipart/form-data">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>#}
{#</form>#}