{% extends "entries/base.html" %}
{#bu base html i extends etmesi demek inheritance yani, base.htmldeki block content içine bu sayfanın içeriği gelir#}
{% load static %}
{% block content %}

    <style>
        .sidebar-nav {
            display: none;
        }

    </style>

    <div class="col-md-12 col-lg-12 col-sm-12 author-detail-user-profile">
        <section class="jumbotron text-center bg-white author-main-details">
            <div class="col-md-2 col-sm-12 col-lg-3">
                {% if page_user.profile_pic %}
                    <img class="profile-page-pic rounded-circle" src="{{ page_user.profile_pic.url }}">
                {% else %}
                    <img class="profile-pic" src="{% static 'djangoProject/images/profile2.png' %}">
                {% endif %}
            </div>
            <div class="col-md-10 col-sm-12 col-lg-9" style="margin-left: 2%;">
                <h1>
                    <small>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</small>
                </h1>
                <p class="small text-muted social-links">
                    {% if page_user.website_url %}
                        <a href="{{ page_user.profile.website_url }}">Website</a> |
                    {% endif %}
                    {% if page_user.faceboook_url %}
                        <a href="{{ page_user.faceboook_url }}">Facebook</a> |
                    {% endif %}
                    {% if page_user.twitter_url %}
                        <a href="{{ page_user.twitter_url }}">Twitter</a> |
                    {% endif %}
                    {% if page_user.instagram_url %}
                        <a href="{{ page_user.instagram_url }}">Instagram</a> |
                    {% endif %}
                    {% if page_user.pinterest_url %}
                        <a href="{{ page_user.pinterest_url }}">Pinterest</a> |
                    {% endif %}

                </p>
                <p class="card-text">{{ page_user.bio }}</p>


            </div>
        </section>
    </div>

    {% for entry in entries %}
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top entry-img-main" src="{{ entry.image.url }}" height=”300” width=”750”
                     alt="Card image cap">
                <div class="card-body" style="height: 270px;">
                    <div class="index-title-entry">
                        <h3 class="card-title index-title-entry">{{ entry.entry_title }}</h3>
                    </div>

                    <div class="date-author-detail">
                        <span>{{ entry.entry_date| date:'d-m-Y' }}</span>
                    </div>
                    <div class="entry-text-main">
                        <p class="card-text">{{ entry.entry_text |truncatechars:150 }}</p>
                    </div>
                    <a class="read-more-btn" href="{% url 'entry-detail' entry.pk %}">Read More »</a>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}