{% extends "entries/base.html" %}
{#bu base html i extends etmesi demek inheritance yani, base.htmldeki block content içine bu sayfanın içeriği gelir#}
{% load static %}
{% block content %}

    {% for result in all_search_results %}
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card mb-4">
                <div class="card-footer text-muted">
                    Posted on {{ result.entry_date }} by
                    <a href="{% url 'user_profile' result.entry_author.profile.pk %}">{{ result.entry_author }}</a>
                </div>

                <img class="card-img-top entry-img" src="{{ result.image.url }}" height=”300” width=”750”
                     alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{ result.entry_title }}</h2>
                    <p class="card-text">{{ result.entry_text |truncatechars:150 }}</p>
                    <a href="{% url 'entry-detail' result.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
        </div>
    {% empty %}
        <h2>No Result!</h2>
    {% endfor %}

{% endblock %}